@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --color-primary: hsl(220, 100%, 60%);
      --color-secondary: hsl(216, 100%, 68%);
      --color-white: hsl(0, 0%, 100%);
      --color-black: hsl(0, 0%, 0%);
      --color-gray: hsl(240, 9%, 65%);
      --color-success: hsl(146, 91%, 45%);
      --color-error: hsl(1, 94%, 60%);
      --modal-gradient1: hsla(240, 7%, 16%, 0.9) 70%;
      --modal-gradient2: hsla(220, 100%, 60%, 0.7) 70%;
      --modal-gradient3: hsl(220, 100%, 60%) 90%;
      --modal-gradient4: hsl(240, 7%, 16%) 90%;
      --modal-gradient5: hsl(240, 7%, 16%) 100%;


      --color-shade_1: hsl(210, 20%, 98%);
      --color-shade_2: hsl(220, 14%, 96%);
      --color-shade_3: hsl(220, 13%, 91%);
      --color-shade_4: hsl(216, 12%, 84%);
      --color-shade_5: hsl(218, 11%, 65%);
      --bg-gradient1: hsl(216, 100%, 68%) 2.441656942823804%;
      --bg-gradient2: hsl(215, 94%, 80%) 20.771100739012056%;
      --bg-gradient3: hsl(0, 0%, 98%) 46.432322053675605%;
      --card-graduent1: hsla(240, 9%, 65%, 0.259) 7%;
      --card-graduent2: hsla(220, 100%, 60%, 0.369) 7%;
      --card-graduent3: hsla(220, 100%, 60%, 0.369) 20%;
      --card-graduent4: hsla(240, 9%, 65%, 0.259) 20%;
      --card-graduent5: hsla(240, 9%, 65%, 0.259) 100%;
   }

   html.dark {
      --color-shade_1: hsl(224, 71%, 4%);
      --color-shade_2: hsl(221, 39%, 11%);
      --color-shade_3: hsl(240, 33%, 1%);
      --color-shade_4: hsl(217, 19%, 27%);
      --color-shade_5: hsl(215, 14%, 34%);
      --bg-gradient1: hsl(216, 100%, 68%) 2.441656942823804%;
      --bg-gradient2: hsl(216, 46%, 41%) 20.771100739012056%;
      --bg-gradient3: hsl(240, 20%, 4%) 46.432322053675605%;
      --card-graduent1: hsl(240, 7%, 16%) 7%;
      --card-graduent2: hsla(220, 100%, 60%, 0.369) 7%;
      --card-graduent3: hsla(220, 100%, 60%, 0.369) 20%;
      --card-graduent4: hsl(240, 7%, 16%) 20%;
      --card-graduent5: hsl(240, 7%, 16%) 100%;
   }

   html,
   body {
      @apply bg-shade_1 font-service;
   }

   h1 {
      @apply text-title text-black dark:text-white;
   }
   h2 {
      @apply text-title_sub;
   }
}


@layer utilities {
   
   .gradient-background{
      background: linear-gradient(160.4065214033883deg, theme('colors.backGroundGradient.1'),theme('colors.backGroundGradient.2'),theme('colors.backGroundGradient.3'));
   }

   .gradient-modal{
      background: linear-gradient(140deg, theme('colors.modalGradient.1'),theme('colors.modalGradient.2'),theme('colors.modalGradient.3'),theme('colors.modalGradient.4'),theme('colors.modalGradient.5'));
   }

   .gradient-card{
      background: linear-gradient(140deg, theme('colors.cardGradient.1'),theme('colors.cardGradient.2'),theme('colors.cardGradient.3'),theme('colors.cardGradient.4'),theme('colors.cardGradient.5'));
   }

   /* scrollbar*/
   .scroll{
      /* Firefox */
      scrollbar-width: none;
   }

   /* Chrome, Safari */
   .scroll::-webkit-scrollbar {
      display: none;
   }
   
}

