/* @tailwind: Tailwind의 기본, 컴포넌트, 유틸리티 클래스를 불러옴.
@layer: 기본 스타일, 컴포넌트 스타일, 유틸리티 클래스를 추가.
@apply: 여러 Tailwind 유틸리티 클래스를 하나의 CSS 클래스에 적용.
@variants: 새로운 변형을 정의.
@responsive: 반응형 스타일을 지정.
@screen: 특정 미디어 쿼리에서만 적용되는 스타일을 지정.
@theme: Tailwind 테마 설정 값을 CSS에서 사용할 때.

CSSname
- Container: 레이아웃을 잡는 가장큰 컨테이너
- Section: 페이지에서의 논리적 구역을 표현(연관이 없는)
- Area: 특정 기능을 가진 작은 영역
- Item/Element: 각요소에 대한 네이밍
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 전역 스타일 */
@layer base {
   html,
   body {
      @apply font-service; 
   }

   h1 {
      @apply text-primary-title text-primary-black dark:text-primary-white;
   }
   h2 {
      @apply text-secondary-title text-primary-gray;
   }
   p {
      @apply text-size-lg text-primary-black dark:text-primary-white;
   }
   span {
      @apply text-size-base;
   }
   button {
      @apply text-size-base;
   }
}

/* 기존 Tailwindutilties class 확장  - 원자적 클래스*/
@layer utilities {
   .gradient-dark {
      background: linear-gradient(
         160.4065214033883deg,
         rgba(91, 157, 255, 1) 2.441656942823804%,
         rgba(56, 94, 152, 1) 20.771100739012056%,
         rgba(8, 8, 12, 1) 46.432322053675605%
      );
   }
   .gradient-light {
      background: linear-gradient(
         160.4065214033883deg,
         rgba(91, 157, 255, 1) 2.441656942823804%,
         rgba(157, 196, 252, 1) 20.771100739012056%,
         rgba(250, 250, 250, 1) 46.432322053675605%
      );
   }
   .modal-gradient-light {
      background: linear-gradient(
         87.56681431265758deg,
         rgba(157, 157, 174, 1) 3.4884724289021163%,
         rgba(156, 156, 173, 1) 3.4884724289021163%,
         rgba(8, 8, 12, 0.7) 36.17386429398148%
      );
   }
   .modal-gradient-dark {
      background: linear-gradient(
         87.56681431265758deg,
         rgba(157, 157, 174, 1) 3.4884724289021163%,
         rgba(156, 156, 173, 1) 3.4884724289021163%,
         rgba(250, 250, 250, 0.7) 36.17386429398148%
      );
   }

   .layout-container {
      @apply flex h-screen bg-primary-white dark:bg-primary-black;
   }

   .divide-container {
      @apply flex flex-col grow;
   }

   .aside-container {
      @apply h-full min-w-[300px] max-w-[500px] grow;
   }

   .header-container {
      @apply flex flex-col;
   }

   .main-container {
      @apply grow;
   }
}

/* 재사용 가능한 컴포넌트 스타일 */
@layer components {
   /* .card {
      background-color: aqua;
    } */
}
